@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    background: #e3f2fd;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    background: url(Image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;
    border-radius: 20px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: .5s;
}
.container:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.logo h5{
    color: white;
    font-size: 16px;
    font-weight: 400;
}

header, .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 48px;
}
header .chip{
    width: 60px;
}

h6{
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.number{
    color: white;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-top: 5px;

}
.name{
    color: white;
    font-weight: 500;
    margin-top: 20px;
    letter-spacing: 1px;
}
.valid-date h5{
    color: white;
    font-weight: 400;
}
.container .card-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: flex-end;
}